* {
  box-sizing: border-box;
}

body {
  font-family: Roboto Slab;
  font-size: medium;
  background-image: url('../img/flags_of_world.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: calc(100vh - (100vh / 3));
  margin-top: calc(100vh / 6);
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 50%;
}

input[type='text'] {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #333;
  width: 100%;
  margin-bottom: 1rem;
}

img {
  width: 200px;
}

ul {
  list-style-type: none;
}

.country-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.country-name {
  margin-left: 15px;
}

.country-flag {
  width: 60px;
  border: 1px solid;
  border-color: rgb(209, 209, 209);
}

.country-flag-card {
  border: 1px solid;
  border-color: rgb(209, 209, 209);
}

#country-list li {
  text-decoration: none;
}